/HolaMundo/build/
/operadores aritmeticos/build/
/variables/build/
/Arreglo/nbproject/private/
/Arreglo/build/
/MiEjemploWeb/nbproject/private/
/MiEjemploWeb/build/
/Calculadora/nbproject/private/
/Calculadora/build/
/Area_Triangulo/nbproject/private/
/Area_Triangulo/build/
/Ejercicio2/nbproject/private/
/Ejercicio2/build/
/Fechas/nbproject/private/