/HolaMundo/build/
/operadores aritmeticos/build/
/variables/build/
/Arreglo/nbproject/private/
/Arreglo/build/
/MiEjemploWeb/nbproject/private/
/MiEjemploWeb/build/
/Calculadora/nbproject/private/
/Calculadora/build/
/Area_Triangulo/nbproject/private/
/Area_Triangulo/build/
/Ejercicio2/nbproject/private/
/Ejercicio2/build/
/Fechas/nbproject/private/
/Fechas/build/
/Ejercicio2/dist/
/Calculadora/dist/
/Area_Triangulo/dist/
/MiEjemploWeb/dist/
/Ejercicio3/nbproject/private/
/Ejercicio3/build/
/CalculadoraAPR/nbproject/private/
/CalculadoraAPR/build/
/Ejercicio4/nbproject/private/
/Ejercicio4/build/
/Herencia/nbproject/private/
/ejercicios_ajax_servlet/promedionotas_jsp/dist/
/HolaMundoFK/nbproject/private/
/HolaMundoFK/build/
/HolaMundoFK/dist/
/Beans_Servlet_JspAPR/nbproject/private/
/Beans_Servlet_JspAPR/build/
/Beans_Servlet_JspAPR/dist/
/Beans_Servlet_ApR/nbproject/private/
/Beans_Servlet_ApR/build/
/Beans_Servlet_ApR/dist/
/CalculadoraAPR/dist/
/Ejercicio3/dist/
/Ejercicio4/dist/
/ejercicios_ajax_servlet/gradoscentigrados/dist/
/ejercicios_ajax_servlet/numeros_enteros/dist/
/ejercicios_ajax_servlet/valor_radio/dist/
/ejercicios_ajax_servlet/velocidad/dist/
/Beans_Servlet_Gastronomia/nbproject/private/
/Beans_Servlet_Gastronomia/build/
/Beans_Servlet_Gastronomia/dist/
/Beans_Servlet_Apr436/nbproject/private/
/Beans_Servlet_Apr436/build/
/Beans_Servlet_Apr436/dist/
/IniciarSecion/nbproject/private/
/IniciarSecion/build/
/IniciarSecion/dist/
/Gastronomia/nbproject/private/
/Gastronomia/build/
/Gastronomia/dist/