/HolaMundo/build/
/operadores aritmeticos/build/
/variables/build/
/Arreglo/nbproject/private/
/Arreglo/build/
/MiEjemploWeb/nbproject/private/
/MiEjemploWeb/build/
/Calculadora/nbproject/private/
/Calculadora/build/
/Area_Triangulo/nbproject/private/
/Area_Triangulo/build/
/Ejercicio2/nbproject/private/
/Ejercicio2/build/
/Fechas/nbproject/private/
/Fechas/build/
/Ejercicio2/dist/
/Calculadora/dist/
/Area_Triangulo/dist/
/MiEjemploWeb/dist/
/Ejercicio3/nbproject/private/
/Ejercicio3/build/
/CalculadoraAPR/nbproject/private/
/CalculadoraAPR/build/
/Ejercicio4/nbproject/private/
/Ejercicio4/build/
/Herencia/nbproject/private/
/ejercicios_ajax_servlet/promedionotas_jsp/dist/
/HolaMundoFK/nbproject/private/
/HolaMundoFK/build/
/HolaMundoFK/dist/